# move around
alias cdw='cd ~/Work'
alias cdr="cd ~/Work/github.com"
alias goplay='cd ~/Work/playground'
alias gotmp='cd /tmp'

# search
alias rgcpp='rg -tcpp'
alias rgcmake='rg -tcmake'
alias rgtext='rg -ttxt'
alias rgconf='rg -tconfig -tyaml -tjson -txml'
alias rgsh='rg -tsh'
alias rgpy='rg -tpy'

# git
alias ga='git add'
alias gbr='git branch'
complete -F _complete_alias gbr
alias gbrD='git branch -D'
complete -F _complete_alias gbrD
alias gc='git c'
complete -F _complete_alias gc
alias gcam='git cam'
complete -F _complete_alias gcam
alias gcm='git cm'
complete -F _complete_alias gcm
alias gpatch='git commit --amend'
alias gfixup='git commit --amend --no-edit'
alias gp='git push'
complete -F _complete_alias gp
alias gr='git rebase'
complete -F _complete_alias gr
alias gd='git diff'
complete -F _complete_alias gd
alias gdt='git difftool'
complete -F _complete_alias gdt
alias gco='git checkout'
complete -F _complete_alias gco
alias gcp='git cherry-pick'
complete -F _complete_alias gcp
alias gs='git status -s'
alias gtree='git tree'
alias gadog='git adog'
alias gf='git fetch'
alias gfa='git fetch --all --prune'
alias gfo='git fetch origin'
alias clone='git_clone'

# docker
alias dc='docker-compose'
alias dcu='docker-compose up -d'
alias dcb='docker-compose up -d --build'
alias dstats='docker stats --format "table {{.Name}}\t{{.CPUPerc}}\t{{.MemUsage}}\t{{.NetIO}}\t{{.BlockIO}}"'
alias dports='docker ps --format "table {{.Names}}\t{{.Ports}}"'
alias garbage-collect-docker='docker rm $(docker ps -aq)'
alias dl='docker logs -ft'
complete -F _complete_alias dl
alias dps='docker ps --format "table {{.Image}}\t{{.ID}}\t{{.Ports}}\t{{.Names}}"'
alias dimgs='docker images'
complete -F _complete_alias dimgs
alias dvol='docker volume'
complete -F _complete_alias dvol
alias dnet='docker network'
complete -F _complete_alias dnet
alias dsys='docker system'
complete -F _complete_alias dsys

# misc
alias apti='sudo apt install'
complete -F _complete_alias apti
alias aptu='sudo apt update && sudo apt upgrade -y'
alias snapu='sudo snap refresh'
alias snapi='sudo snap install'
complete -F _complete_alias snapi
alias root='sudo su - root'

if hash exa &>/dev/null; then
    alias ls='exa'
    alias l='exa -F'
    alias ll='exa -alias'
fi

# ascii art
alias no-idea='echo "¯\_(ツ)_/¯"'

