function share_history {
    # remember everything from every terminal on the machine while having that history accessible from every terminal
    # shout-out to https://unix.stackexchange.com/questions/1288/preserve-bash-history-in-multiple-terminal-windows
    export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"
}

#### functions ####
function git_clone {
    local -r repos="$1"
    pushd ~/Work/github.com
    git clone git@github.com:${repos} ${repos}
    pushd ${repos}
}

function venv {
    local -r env="${PYTHON_ENVS}/${1}/bin/activate"
    if [[ -f ${env} ]]; then
        source "${env}"
    else
        >&2 echo "error: '$1' is not a valid virtual environment"
    fi
}

function github {
    firefox https://github.com/$1
}

function tgz_compress {
    tar cvf - $1 | gzip > $2
}

function mkd {
    mkdir -p $1 && cd $_
}

# get IP address for the given container and network
function get_container_network_ip {
    local -r container_name="${1}"
    local -r network_name="${2}"
    docker inspect "${container_name}" | jq -r ".[0].NetworkSettings.Networks.${network_name}.IPAddress"
}

