[user]
    name = Guilhem Charles
    email = ???
[core]
    excludesfile = ~/.gitignore
    editor = vim
    autocrlf = input
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[color]
    ui = auto
[alias]
    amend = commit --amend
    ap = add --patch
    co = checkout
    c = commit
    cm = commit -m
    cam = commit -a -m
    cp = cherry-pick
    d = diff
    dt = difftool
    stat = diff --stat
    st = status
    br = branch
    tree = log --all --decorate --graph --abbrev-commit --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    adog = log --all --decorate --oneline --graph
    type = cat-file -t
    dump = cat-file -p
    # https://stackoverflow.com/a/62778533/2285882
    permission-reset = !git diff -p -R --no-ext-diff --no-color | grep -E '^old mode (100644|100755)' -B1 -A1 --color=never | git apply
[merge]
    ff = yes
[pull]
    ff = only

