local fn = vim.fn

local packer_bootstrap = {}

-- Install packer if not found
local install_path = fn.stdpath("data").."/site/pack/packer/start/packer.nvim"
if fn.empty(fn.glob(install_path)) > 0 then
  packer_bootstrap = fn.system({
    "git",
    "clone",
    "--depth", "1",
    "https://github.com/wbthomason/packer.nvim",
    install_path,
  })
end

-- Reloads neovim whenever plugins.lua is modified
vim.cmd([[
  augroup packer_user_config
    autocmd!
    autocmd BufWritePost plugins.lua source <afile> | PackerSync
  augroup end
]])

-- Use a protected call so we don't error out on first use
local status_ok, packer = pcall(require, "packer")
if not status_ok then
  return
end

local plugins = {
    -- Meta
    "wbthomason/packer.nvim",

    -- GUI enhancements
    {
        "Shatur/neovim-ayu",
        config = function() vim.cmd.colorscheme("ayu") end,
    },
    {
        "nvim-lualine/lualine.nvim",
        requires = {
            "kyazdani42/nvim-web-devicons",
        },
    },
    "tpope/vim-fugitive",
    "machakann/vim-highlightedyank",
    "psliwka/vim-smoothie",
    {
        "lewis6991/gitsigns.nvim",
        requires = {"nvim-lua/plenary.nvim"},
        config = function() require("gitsigns").setup() end
    },
    {
        "kyazdani42/nvim-tree.lua",
        requires = {
            "kyazdani42/nvim-web-devicons",
        }
    },
    "akinsho/toggleterm.nvim",

    -- Projects
    "airblade/vim-rooter",
    "vim-scripts/localvimrc",

    -- Navigation
    "justinmk/vim-sneak",
    {
        "junegunn/fzf",
        run = function()
            vim.fn['fzf#install']()
        end,
        alias = "fzf",
    },
    {"junegunn/fzf.vim", after = "fzf"},

    -- Completion
    {"hrsh7th/nvim-cmp", alias = "completion"},
    {"hrsh7th/cmp-buffer", requires = "nvim-cmp"},
    {"hrsh7th/cmp-path", requires = "nvim-cmp"},
    {"hrsh7th/cmp-cmdline", requires = "nvim-cmp"},
    {"hrsh7th/cmp-nvim-lua", requires = "nvim-cmp"},

    -- Snippets
    {"L3MON4D3/LuaSnip", alias = "luasnip", requires = "nvim-cmp"},
    {"rafamadriz/friendly-snippets", requires = "LuaSnip"},
    {"saadparwaiz1/cmp_luasnip", requires = "LuaSnip"},

    -- LSP
    "neovim/nvim-lspconfig",
    "williamboman/nvim-lsp-installer",
    {"hrsh7th/cmp-nvim-lsp", requires = "nvim-cmp"},

    -- Misc
    "windwp/nvim-autopairs",

    -- Telescope
    "nvim-telescope/telescope.nvim",
    {{- if eq .chezmoi.os "linux" }}
    {
        "nvim-telescope/telescope-media-files.nvim",
        requires = {
            "nvim-telescope/telescope.nvim",
            "nvim-lua/popup.nvim",
            "nvim-lua/plenary.nvim",
        },
    },
    {{ end }}

    -- Treesitter
    {"nvim-treesitter/nvim-treesitter", run = ":TSUpdate"},
}

local packer_config = {
    display = {
        open_fn = function()
            return require("packer.util").float({
                style = "minimal",
                border = "rounded"
            })
        end
    }
}
packer.startup({plugins, config = packer_config})

return packer

