# vi: ft=gitconfig
[core]
    editor = nvim
    autocrlf = input
    pager = delta
[interactive]
    diffFilter = delta --color-only --features='interactive decorations nord-aurora-line-numbers'
    singlekey = true
[difftool]
    prompt = false
[include]
    path = ~/.config/git/local
    path = ~/.config/git/delta.gitconfig
[color.decorate]
    branch = bold 28
    remoteBranch = bold blue
[alias]
    af = !git add `git status --short | fzf`
    amend = commit --amend
    ap = add --patch
    br = branch
    c = commit
    cam = commit -a -m
    cb = branch --show-current
    cm = commit -m
    co = checkout
    cp = cherry-pick
    d = diff
    default-branch = !git rev-parse --abbrev-ref origin/HEAD | sed 's@^origin/@@'
    cdb = !git checkout $(git default-branch)
    ds = diff --staged
    dt = difftool
    dump = cat-file -p
    pusho = !git push --set-upstream origin `git cb`
    root = rev-parse --show-toplevel
    st = status
    stat = diff --stat
    tidy = !git fetch --all --prune --multiple --progress && git gc --prune=now && git pull
    type = cat-file -t

    # https://git-scm.com/docs/git-worktree
    wt  = worktree
    wta = worktree add
    wtl = worktree list
    wtm = worktree move
    wtp = worktree prune
    wtr = worktree remove

    # https://stackoverflow.com/a/62778533/2285882
    permission-reset = !git diff -p -R --no-ext-diff --no-color | grep -E '^old mode (100644|100755)' -B1 -A1 --color=never | git apply

    # changes utilities
    adog = log --all --decorate --oneline --graph
    changes = log --pretty=format:'%C(bold yellow)%h%C(reset) %C(dim white)%s%C(reset) %C(white)%cn%C(reset) %C(dim white)%ar%C(reset) %C(bold blue)%d%C(reset)' --name-status
    changesin = !git changes --cherry `git cb`...main
    changesout = !git changes --cherry main...`git cb`
    compact = log --pretty=format:'%C(bold yellow)%h%C(reset) %C(dim white)%s%Creset %C(white)%cn%C(reset) %C(dim white)%ar%C(reset) %C(bold blue)%d%C(reset)'
    remotein = !git changes --cherry  `git cb`...origin/`git cb`
    remoteout = !git changes --cherry  origin/`git cb`...`git cb`
    tree = log --decorate --graph --abbrev-commit --pretty=format:'%C(bold yellow)%h%C(reset) %C(dim white)%s%C(reset) %C(white)%aN%C(reset) %C(dim white)%ar%C(reset) %C(bold blue)%d%C(reset)'
    tree-all = !git tree --all
[merge]
    conflictStyle = zdiff3
    ff = yes
[diff]
    colorMoved = default
[pull]
    ff = only
[push]
    autoSetupRemote = true
[rebase]
    updateRefs = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}

[includeIf "gitdir:~/Work/**"]
    path = ~/Work/.gitconfig
[includeIf "gitdir:~/Repos/**"]
    path = ~/Repos/.gitconfig

[url "git@github.com:"]
  insteadOf = gh:
[url "git@github.com:chagui/"]
  insteadOf = me:
[url "https://gitlab.com/"]
  insteadOf = gl:
[includeIf "hasconfig:remote.*.url:me:**"]
  path = ~/.config/git/chagui
