typeset -U path PATH
path+=("$HOME/.local/bin" "$HOME/.cargo/bin")

# XDG - set defaults as they may not be set
# See https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html
# and https://wiki.archlinux.org/title/XDG_Base_Directory#Support
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"
{{- if eq .chezmoi.os "darwin" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}

# minify history
setopt EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt appendhistory

# elephant memory
HISTSIZE=10050000  # due to HIST_EXPIRE_DUPS_FIRST
SAVEHIST=10000000
HISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}/zsh/history"

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.  if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

[ -s "$ZDOTDIR/.aliases" ] && source "$ZDOTDIR/.aliases"
[ -s "$ZDOTDIR/.functions" ] && source "$ZDOTDIR/.functions"
[ -s "$ZDOTDIR/.local" ] && . "$ZDOTDIR/.local"
[ -s ~/.fzf.zsh ] && . ~/.fzf.zsh

# Prompt theme
source "{{- if eq .chezmoi.os "darwin" }}$(brew --prefix){{ end -}}/opt/powerlevel10k/powerlevel10k.zsh-theme"
[ -s "$ZDOTDIR/.p10k.zsh" ] && . "$ZDOTDIR/.p10k.zsh"

{{ if eq .chezmoi.os "darwin" }}
export PYENV_ROOT=$XDG_DATA_HOME/pyenv

# some brew packages are installed in sbin (e.g. mtr)
path=("/usr/local/sbin" "$path[@]")
path+=("$HOME/Library/Application Support/JetBrains/Toolbox/scripts")

if [[ -n $(brew --prefix llvm) ]]; then
    # clang-tidy is not installed in brew --prefix
    path=("$(brew --prefix llvm)/bin" "$path[@]")
fi

[ -s "$(brew --prefix)/etc/profile.d/autojump.sh" ] && source "$(brew --prefix)/etc/profile.d/autojump.sh"
[ -s "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh" ] && source "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
[ -s "$(brew --prefix asdf)/libexec/asdf.sh" ] && . "$(brew --prefix asdf)/libexec/asdf.sh"
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
[ -s /home/guilhem/.autojump/etc/profile.d/autojump.sh ] && source /home/guilhem/.autojump/etc/profile.d/autojump.sh
[ -s /opt/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ] && source /opt/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
[ -s /opt/zsh-autosuggestions/zsh-autosuggestions.zsh ] && source /opt/zsh-autosuggestions/zsh-autosuggestions.zsh

export PYENV_ROOT="/opt/pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
{{   end -}}
{{ end -}}

# fix some bindings
bindkey "3C" forward-word
bindkey "5C" forward-word
bindkey "3D" backward-word
bindkey "5D" backward-word
bindkey "^J" backward-kill-line

[ -s "$ZDOTDIR/tools.zsh" ] && source "$ZDOTDIR/tools.zsh"

# load functions
fpath+="$ZDOTDIR/functions"
{{- if eq .chezmoi.os "darwin" }}
fpath+="$(brew --prefix)/share/zsh/site-functions"
{{ end }}
fpath+="$HOME/.rustup/toolchains/stable-x86_64-apple-darwin/share/zsh/site-functions"

autoload -Uz compinit && compinit
autoload -Uz select-word-style && select-word-style bash

{{- if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ end -}}

