# minify history
setopt EXTENDED_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt appendhistory

# elephant memory
HISTSIZE=10050000  # due to HIST_EXPIRE_DUPS_FIRST
SAVEHIST=10000000
HISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}/zsh/history"

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.  if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

export PYENVDIR="$HOME/venv"

[ -f "$ZDOTDIR/.aliases" ] && source "$ZDOTDIR/.aliases"
[ -f "$ZDOTDIR/.functions" ] && source "$ZDOTDIR/.functions"
[ -f ~/.fzf.zsh ] && . ~/.fzf.zsh

# Prompt theme
source "{{- if eq .chezmoi.os "darwin" }}$(brew --prefix){{ end -}}/opt/powerlevel10k/powerlevel10k.zsh-theme"
[[ -f $ZDOTDIR/.p10k.zsh ]] && . "$ZDOTDIR/.p10k.zsh"

{{ if eq .chezmoi.os "darwin" }}
export PAGER=most

# some brew packages are installed in sbin (e.g. mtr)
export PATH="/usr/local/sbin:$PATH:$HOME/.local/bin"

if [[ -n $(brew --prefix llvm) ]]; then
    # clang-tidy is not installed in brew --prefix
    export PATH="$(brew --prefix llvm)/bin:$PATH"
fi

[[ -f $(brew --prefix)/etc/profile.d/autojump.sh ]] && source "$(brew --prefix)/etc/profile.d/autojump.sh"
[[ -f $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh ]] && source "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
[[ -s /home/guilhem/.autojump/etc/profile.d/autojump.sh ]] && source /home/guilhem/.autojump/etc/profile.d/autojump.sh
[[ -f /opt/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]] && source /opt/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
[[ -f /opt/zsh-autosuggestions/zsh-autosuggestions.zsh ]] && source /opt/zsh-autosuggestions/zsh-autosuggestions.zsh
{{   end -}}
{{ end -}}

# fix some bindings
bindkey "3C" forward-word
bindkey "5C" forward-word
bindkey "3D" backward-word
bindkey "5D" backward-word
bindkey "^J" backward-kill-line

# bat
if which bat &>/dev/null; then
    export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi

# pyenv
if which pyenv &>/dev/null; then
    eval "$(pyenv init -)"
{{- if eq .chezmoi.os "darwin" }}
    # fix Brew Doctor: "Warning: "config" scripts exist outside your system or Homebrew directories"
    alias brew='env PATH=${PATH//$(pyenv root)\/shims:/} brew'
{{ end }}
    eval "$(pyenv virtualenv-init -)"
fi

# load functions
fpath+="$ZDOTDIR/functions"
{{- if eq .chezmoi.os "darwin" }}
fpath+="$(brew --prefix)/share/zsh/site-functions"
{{ end }}
fpath+="$HOME/.rustup/toolchains/stable-x86_64-apple-darwin/share/zsh/site-functions"

autoload -Uz compinit && compinit

{{- if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ end -}}

