{{- if eq .chezmoi.os "darwin" -}}
set-environment -g PATH "/opt/homebrew/bin:/bin:/usr/bin"
{{ end -}}
unbind C-b
set -g prefix C-w
bind C-a send-prefix

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 0

# Increase scrollback buffer size from 2000 to 50000 lines
set -g history-limit 50000

# Focus events enabled for terminals that support them
# See https://github.com/tmux-plugins/vim-tmux-focus-events
set-option -g focus-events on

# reload config
bind r source-file ~/.config/tmux/tmux.conf

# Sane navigation
# Use t instead of c for new window. Use h and v for horixontal and vertical splitting instead of "
# and %. Use current working directory for new split.
unbind c
bind t new-window
unbind '"'
bind h split-window -h -c '#{pane_current_path}'
unbind %
bind v split-window -v -c '#{pane_current_path}'

# Equally resize all panes
bind-key = select-layout even-horizontal
bind-key | select-layout even-vertical

# GUI
set -g mouse on
# True Color (24-bit) configuration for alacritty + tmux
# kudos to https://gist.github.com/andersevenrud/015e61af2fd264371032763d4ed965b6
set -g default-terminal "tmux-256color"
set -sa terminal-overrides ",xterm*:Tc"
# previous configurations:
#set -ag terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'  # colored underscores
#set -ag terminal-overrides ",alacritty:RGB"

set -g status-bg black
set -g status-fg white
set -g window-status-current-style bg=white,fg=black,bold
set -g status-position top

# index from 1 instead of 0
set -g base-index 1
setw -g pane-base-index 1
# re-number windows when one is closed
set -g renumber-windows on

# tmux messages are displayed for 4 seconds
set -g display-time 4000

# pre-configured sessions
if-shell '[ "$(tmux has-session -t dev 2>/dev/null && echo "exists")" != "exists" ]' {
    new-session -s dev -n dotfiles -c ~/.local/share/chezmoi
    split-window -v -l 30% -t dev -c "#{pane_current_path}"
}

# Plugin Configuration
set-environment -g TMUX_PLUGIN_MANAGER_PATH "~/.local/share/tmux/plugins"
set -g @plugin 'tmux-plugins/tpm'

# Functionality plugins
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# UI
set -g @plugin 'catppuccin/tmux'
set -g @catppuccin_flavor 'macchiato'
set -g @catppuccin_window_status_style "rounded"

# Window appearance
set -g @catppuccin_window_left_separator ""
set -g @catppuccin_window_right_separator ""
set -g @catppuccin_window_middle_separator " █"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag, , }"
set -g @catppuccin_window_text "#{window_name}"
# Status appearance
set -g @catppuccin_status_left_separator  " "
set -g @catppuccin_status_right_separator " "
set -g @catppuccin_status_right_separator_inverse "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"
set -g @catppuccin_date_time_icon ""
set -g @catppuccin_date_time_text "%H:%M"

# Status bar modules and layout
# See https://github.com/catppuccin/tmux/blob/main/docs/reference/status-line.md
set -g status-left-length 100
set -g status-left "#{E:@catppuccin_status_session}"
set -g @catppuccin_directory_text "#{pane_current_path}"

set -g status-right-length 200
set -g status-right "#{E:@catppuccin_status_application}"
set -agF status-right "#{E:@catppuccin_status_cpu}"
set -agF status-right "#{E:@catppuccin_status_battery}"
set -ag status-right '#{E:@catppuccin_status_date_time}'
set -agF status-right "#{@catppuccin_status_gitmux}"

run '#{TMUX_PLUGIN_MANAGER_PATH}/tmux/catppuccin.tmux'

# System monitoring plugins (catppuccin dependencies)
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'tmux-plugins/tmux-battery'

# Manual plugin loading (disabled in favor of tpm)
run '#{TMUX_PLUGIN_MANAGER_PATH}/tmux-battery/battery.tmux'
run '#{TMUX_PLUGIN_MANAGER_PATH}/tmux-cpu/cpu.tmux'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '#{TMUX_PLUGIN_MANAGER_PATH}/tpm/tpm'
