#!/bin/bash

set -eufo pipefail

# shellcheck disable=1054,1083
{{- if eq .chezmoi.os "darwin" }}
# Install Homebrew if not already installed
if ! command -v brew &> /dev/null; then
    echo "🍺  Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Install packages from embedded Brewfile
echo "Installing packages from Brewfile..."
brew bundle --file=/dev/stdin <<EOF
tap "1password/tap"
tap "cirruslabs/cli"
tap "derailed/k9s"
tap "hashicorp/tap"
tap "romkatv/powerlevel10k"
tap "terraform-docs/tap"
tap "withered-magic/brew"
tap "withgraphite/tap"
brew "openssl@3"
brew "readline"
brew "sqlite"
brew "xz"
brew "ansible"
brew "ansible-lint"
brew "lz4"
brew "zstd"
brew "git"
brew "aws-vault"
brew "awscli"
brew "bash"
brew "bat"
brew "bazelisk"
brew "broot"
brew "buf"
brew "buildifier"
brew "buildozer"
brew "cdk8s"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "crane"
brew "curl"
brew "dive"
brew "dust"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fzf"
brew "gcc"
brew "gh"
brew "gimme"
brew "git-absorb"
brew "git-delta"
brew "git-lfs"
brew "git-machete"
brew "gitlab-runner"
brew "glab"
brew "gnu-sed"
brew "gnu-tar"
brew "gnupg"
brew "go"
brew "golangci-lint"
brew "gperftools"
brew "graphviz"
brew "gron"
brew "grpcurl"
brew "helm"
brew "hey"
brew "httpie"
brew "hugo"
brew "hyperfine"
brew "imagemagick"
brew "jemalloc"
brew "jless"
brew "jnv"
brew "jq"
brew "jsonnet"
brew "kind"
brew "ko"
brew "kubernetes-cli"
brew "kubectx"
brew "kubie"
brew "lazygit"
brew "libpq"
brew "librdkafka"
brew "licenseplist"
brew "lima"
brew "llvm"
brew "lsd"
brew "luarocks"
brew "make"
brew "most"
brew "neofetch"
brew "neovim"
brew "ollama"
brew "parallel"
brew "pgcli"
brew "pinentry-mac"
brew "pipx"
brew "powerlevel10k"
brew "pre-commit"
brew "procs"
brew "protobuf"
brew "pyenv"
brew "pyenv-virtualenv"
brew "python-tabulate"
brew "rbenv"
brew "redis"
brew "ripgrep"
brew "ruff"
brew "scc"
brew "shellcheck"
brew "speedtest-cli"
brew "svg2png"
brew "tealdeer"
brew "telnet"
brew "terraform-ls"
brew "terraform_landscape"
brew "terraformer"
brew "tfenv"
brew "tgenv"
brew "tmux"
brew "toilet"
brew "topgrade"
brew "watch"
brew "wget"
brew "xcodes"
brew "xq"
brew "yamllint"
brew "ykman"
brew "yq"
brew "zellij"
brew "zlib"
brew "zoxide"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-history-substring-search"
brew "zsh-syntax-highlighting"
brew "gitmux"
brew "cirruslabs/cli/tart"
brew "derailed/k9s/k9s"
brew "hashicorp/tap/packer"
brew "terraform-docs/tap/terraform-docs"
brew "withered-magic/brew/starpls"
brew "withgraphite/tap/graphite"
cask "1password-cli"
cask "alacritty"
cask "aws-vault-binary"
cask "betterdisplay"
cask "brave-browser"
cask "finicky"
cask "firefox"
cask "gcloud-cli"
cask "itsycal"
cask "meld"
cask "netnewswire"
cask "obsidian"
cask "stats"
cask "sublime-text"
cask "vanilla"
cask "vlc"
EOF

pip install argcomplete
activate-global-python-argcomplete

echo "Package installation completed."

echo "Configuring packages"
pipx ensurepath


# shellcheck disable=1054,1083
{{ end -}}
