font:
  normal:
    family: "JetBrainsMono Nerd Font"
    style:  "Regular"
  bold:
    family: "JetBrainsMono Nerd Font"
    style:  "Bold"
  italic:
    family: "JetBrainsMono Nerd Font"
    style:  "Italic"
  bold_italic:
    family: "JetBrainsMono Nerd Font"
    style:  "Bold Italic"
  size: 12
{{- if eq .chezmoi.os "darwin" }}
  AppleFontSmooting: true
{{- else if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "ubuntu" }}
  use_thin_strokes: true
{{-   end }}
{{- end }}

window:
  startup_mode: Fullscreen
  decorations:  none

selection:
  save_to_clipboard: true

live_config_reload: true

mouse:
  hide_when_typing: true

# True Color (24-bit) configuration for alacritty + tmux
# kudos to https://gist.github.com/andersevenrud/015e61af2fd264371032763d4ed965b6
env:
  TERM: xterm-256color

hints:
  enabled:
    - regex: "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)\
             [^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
      hyperlinks: true
{{- if eq .chezmoi.os "darwin" }}
      command: open
{{- else if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "ubuntu" }}
      command: xdg-open
{{-   end }}
{{- end }}
      post_processing: true
      mouse:
        enabled: true
        mods: None
      binding:
        key: U
        mods: Control

shell:
{{- if eq .chezmoi.os "darwin" }}
  program: /opt/homebrew/bin/tmux
  args:
{{- else if eq .chezmoi.os "linux" -}}
{{-   if eq .chezmoi.osRelease.id "ubuntu" }}
  program: /usr/bin/env
  args:
    - tmux
{{-   end }}
{{- end }}
    - new-session
    - -A
    - -D
    - -s
    - main

import:
  - ~/.config/alacritty/colorscheme.yml
  - ~/.config/alacritty/key_bindings.yml

